

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #f1f5f9;
}

.table th {
    background-color: #f8f9fa;
}

footer {
    margin-top: 50px !important;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    
    .card-body {
        padding: 15px;
    }
}